.container {
  border-radius: 25px;
  box-shadow: 1px 1px 10px 1px #bbb;
  background-color: #fff;
  padding: 1em;
  margin-top: 2em;

  app-user-header {
    padding-left: 1em;
    display: block;
  }

  .post-text {
    padding: 1em;
  }

  .post-reactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;

    span {
      font-size: .8em;
      color: var(--light-grey);
      float: right;
    }
  }
}
