<aside>
  <header>
    <h3>Buscar personas</h3>
    <input
      type="text"
      placeholder="Nombre, apellido o usuario..."
      class="search-people"
      [(ngModel)]="filter.filter_string"
      (ngModelChange)="getUsers()"
    >
  </header>
  <div *ngFor="let user of users">
    <app-user-header
      [user]="user"
      [showFriendshipStatus]="true"
    ></app-user-header>
  </div>
  <app-requests
    [requests]="requests"
    (requestHandled)="emitRequestHandled()"
  ></app-requests>
</aside>
