aside {
  padding: 1.5em;
  height: 94vh;
  box-shadow: -1px -1px 10px 1px #bbb;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      display: inline;
    }

    .search-people {
      float: right;
      border-radius: 100px;
      outline-width: 1px;
      outline-color: var(--primary-color);
      padding: .5em 1em;
      border: 1px solid var(--primary-color);
    }
  }
}
