.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: .5em;

  .container_info {
    display: flex;
    align-items: center;

    .container_img {
      width: 2em;
      height: 2em;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    span {
      margin-left: 1em;
    }
  }
}
