<div class="container" (click)="openModalSeeUser()">
  <div class="container_info">
    <div class="container_img">
      <img src="http://localhost:3000/api/files/download/{{user.personal_data.image_path}}">
    </div>
    <span>{{user.personal_data.name}} {{user.personal_data.surname}}</span>
  </div>
  <div *ngIf="showFriendshipStatus && loggedUser.id !== user.id">
    <button class="{{parseButtonClass()}}" (click)="action()">{{parseFriendshipStatus()}}</button>
  </div>
  <div *ngIf="showRequestActions">
    <button class="btn-primary" (click)="confirmRequestClick()">Confirmar</button>
    <button class="btn-secondary" (click)="declineRequestClick()">Rechazar</button>
  </div>
</div>
