main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #caf0f1;
    flex-direction: column;

    .title {
      font-family: 'DynaPuff', cursive;
      color: #673ab7;
      margin-top: 5%;
      font-size: 3em;
    }

    .paws {
      position: fixed;
      top: 30%;
      left: 30%;
      width: 20%;

      img {
        width: 100%;
      }
    }

    form {
        margin-top: 10%;
        background-color: #ffffffdd;
        display: flex;
        flex-direction: column;
        padding: 2em 1.5em 1em;
        border-radius: 5px;
        box-shadow: 1px 1px 10px 1px #bbb;
        position: relative;

        .containerGatito {
            width: 3em;
            height: 3em;
            border-radius: 50%;
            position: absolute;
            top: -1.5em;
            left: calc(50% - 1.5em);
            transition: 200ms transform;

            &:hover {
                transform: translateY(-5px);
            }

            img {
                width: 100%;
            }
        }

        .btn-login {
            background-color: #673ab7;
            color: #fff;
            border-radius: 5px;
            margin-block: 1em;
            padding-block: .5em;
            cursor: pointer;
        }

        .btn-subscribe {
          background-color: transparent;
          color: #673ab7;
          cursor: pointer;
          margin-block: 1em;
        }
    }
}
