nav {
  background-color: #673ab7;
  box-shadow: 1px 1px 10px 1px #bbb;
  height: 6vh;

  h2 {
    font-family: 'DynaPuff', cursive;
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: .3em;
    text-shadow: 1px 1px 5px #252525;
  }
}
