main {
  padding: 1.5em;
  overflow-y: auto;
  max-height: 94vh;
  background-color: #fbfbfb;

  app-user-header {
    margin-left: 1.5em;
    display: block;
  }

  .post {
    width: 50%;
    padding: 1.5em 1.5em 0;

    textarea {
      border: 1px solid var(--primary-color);
      border-radius: 25px;
      outline-color: var(--primary-color);
      resize: none;
      width: 100%;
      padding: .7em;
      font-size: 1.1em;
      box-shadow: 1px 1px 10px 1px #ccc;
    }

    div {
      display: flex;
      justify-content: flex-start;
      margin-top: .5em;
    }
  }

  .posts-container {
    margin-top: 1em;
    padding: 1.5em;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 20px;
    border: none;
  }
}
